alias sudo='sudo '
alias ls='ls -A --color=auto'
alias grep='grep --color=auto'
alias ccat='pygmentize -g -O style=colorful,linenos=1'
alias svim='sudo -e'
alias dd='dd status=progress'
alias e.='nohup dolphin . &> /dev/null &'
alias zshrc="$EDITOR $HOME/.zshrc"
alias sctl='systemctl'
alias histgrep='cat ~/.zsh_history | grep'
alias tz='trizen'
alias vim='nvim'
alias calc='ipython -i -q -c "from math import *"'

alias gs='git s'
alias dc='docker-compose'
alias dockerclean='sudo docker rm -f $(docker ps -a -q) && sudo docker rmi -f $(docker images -q)'

alias phpunit='./vendor/bin/phpunit'

alias dj='python manage.py'
alias venv='python3 -m venv'
