#topmenu {
  display: none;
}

#tablist {
  background: #4d4d4d;
}

.tab-icon[style*="https://open.scdn.co/static/images/favicon.png"],
.tab-icon[style*="https://assets-cdn.github.com/favicon.ico"]{
    filter: invert(100%);
} 
