#urlbar {
    text-align: center;
}

/* add some padding to toolbar items */
#PlacesToolbar { 
  padding: 3px 5px; 
}

/* make hover blue instead of gray on toolbar items */
#PersonalToolbar .toolbarbutton-1:hover:not([disabled="true"]):not([checked]):not([open]):not(:active), .tabbrowser-arrowscrollbox > .scrollbutton-up:hover:not([disabled="true"]), .tabbrowser-arrowscrollbox > .scrollbutton-down:hover:not([disabled="true"]), .findbar-button:hover:not(:-moz-any([checked="true"], [disabled="true"])) > .toolbarbutton-text, toolbarbutton.bookmark-item:hover:not(.subviewbutton):not([disabled="true"]):not([open]), toolbar .toolbarbutton-1:hover:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-icon, toolbar .toolbarbutton-1:hover:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-text, toolbar .toolbarbutton-1:hover:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-badge-stack{
    background-color: #0074D9 !important;
    color: #fff !important;
}

/* invert black icon colors when using a dark theme */
window[lwthemetextcolor="bright"] .toolbarbutton-icon[src="page-icon:https://github.com/"],
window[lwthemetextcolor="bright"] .toolbarbutton-icon[src="page-icon:http://www.androidpolice.com/"] {
    filter: invert(100%);
}

#TabsToolbar {
    background: #323234;
}

.private-browsing-indicator {
    position: absolute !important;
    right: 100px;
    top: 4px;
}
